.btn {
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 0 10px;
  background-color: #efefef;
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  transition: all 0.5s;
  display: inline-block;
}

.btn:hover {
  background-color: #d6d6d6;
}

.btnConfirm {
  border: 1px solid #4b7b17;
  background-color: #70a734;
  color: #fff;
}

.btnConfirm:hover {
  background-color: #97d451;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  padding: 0;
  background-color: #555;
  color: #fff;
  font-size: 14px;
}

.btnClose:hover {
  background-color: #c71414;
}
