.inputField {
  height: 40px;
  padding: 0 10px;
  max-width: 100%;
  display: block;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  outline: none;
  transition: all 0.5s;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  font-family: serif;
}

.inputField:focus {
  border-color: teal;
  transition: none;
}

textarea.inputField {
  min-height: 100px;
  min-width: 100%;
  padding: 15px 10px;
  transition: none;
}
