{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Document</title>
    {% block css %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}
        {% include 'modules/header/header.html' %}
        {% endblock %}
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% include 'modules/footer/footer.html' %}
        {% endblock %}
    </footer>

    <script src="https://kit.fontawesome.com/a86de60ac0.js" crossorigin="anonymous"></script>
    {% block tail %}
    {% endblock %}
</body>

</html>