{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" charset="utf-8"
    href="{% static 'css/pageHome.min.css' %}?v{{ settings.STATIC_VERSION }}">
{% endblock %}

{% block main %}
<main>
    <section class="section">
        <h2>Список задач <button id="createTask" class="btn createTask" title="Создать"><i
                    class="fas fa-plus"></i></button></h2>
        <nav class="menu taskMenu">
            <div class="menu__item dropMenu">
                <button class="menuBtn"><i class="fas fa-sort"></i>Сортировать</button>
                <ul class="dropList">
                    <li class="dropList__item sortItem" sortby="user">по имени</lidropList>
                    <li class="dropList__item sortItem" sortby="email">по почте</li>
                    <li class="dropList__item sortItem" sortby="status">по статусу</li>
                </ul>
            </div>
        </nav>
        <div class="taskList">
            <!-- {% for task in taskList %}
            <div class="task" taskid="{{ task.id }}">
                <div class="taskHeader">
                    <span class="taskHeader__item taskTitle">{{ task.title }}</span>
                    <span class="taskHeader__item taskUser">{{ task.user }}</span>
                    <span class="taskHeader__item taskEmail">{{ task.email }}</span>
                    <button type="button" class="taskHeader__item taskStateToggler" taskid="{{ task.id }}"><i
                            class="fas fa-chevron-down"></i></button>
                </div>
                <div class="taskBody">
                    {% if is_authorized %}
                    <div class="taskControls">
                        <button type="button" class="btn taskConfirm" title="Пометить как выполненное"
                            taskid="{{ task.id }}"><i class="far fa-square"></i></button>
                        <button type="button" class="btn taskEdit" title="Редактировать" taskid="{{ task.id }}"><i
                                class="far fa-edit"></i></button>
                    </div>
                    {% endif %}
                    <div>{{ task.description }}</div>
                </div>
            </div>
            {% endfor %} -->
        </div>
        <div id="paginator"></div>
    </section>
    <section id="taskActions" class="section" window="empty">
    </section>
</main>
{% endblock %}

{% block tail %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" defer></script>
<script type="text/javascript" src="{% static 'js/pageHome.min.js' %}?v{{ settings.STATIC_VERSION }}" charset="utf-8"
    defer></script>

<script>
    let taskList = [];
    let toPage = {
        prev: +'{{ prev }}',
        next: +'{{ next }}',
        page: +'{{page}}',
    };
    const is_authorized = `{{is_authorized}}`;

    {% for task in taskList %}
    taskList.push({
        taskid: +'{{ task.id }}',
        title: '{{ task.title }}',
        user: '{{ task.user }}',
        email: '{{ task.email }}',
        description: `{{ task.description }}`,
        is_cofirmed: '{{ task.is_cofirmed }}' === 'True' ? true : false,
    });
    {% endfor %}
</script>
{% endblock %}