{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" charset="utf-8"
    href="{% static 'css/pageHome.min.css' %}?v{{ settings.STATIC_VERSION }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<app-root></app-root>
{% endblock %}

{% block tail %}
<script src="{% static 'js/runtime-es2015.js' %}?v{{ settings.STATIC_VERSION }}" type="module"></script>
<script src="{% static 'js/runtime-es5.js' %}?v{{ settings.STATIC_VERSION }}" nomodule defer></script>
<script src="{% static 'js/polyfills-es5.js' %}?v{{ settings.STATIC_VERSION }}" nomodule defer></script>
<script src="{% static 'js/polyfills-es2015.js' %}?v{{ settings.STATIC_VERSION }}" type="module"></script>
<script src="{% static 'js/styles-es2015.js' %}?v{{ settings.STATIC_VERSION }}" type="module"></script>
<script src="{% static 'js/styles-es5.js' %}?v{{ settings.STATIC_VERSION }}" nomodule defer></script>
<script src="{% static 'js/vendor-es2015.js' %}?v{{ settings.STATIC_VERSION }}" type="module"></script>
<script src="{% static 'js/vendor-es5.js' %}?v{{ settings.STATIC_VERSION }}" nomodule defer></script>
<script src="{% static 'js/main-es2015.js' %}?v{{ settings.STATIC_VERSION }}" type="module"></script>
<script src="{% static 'js/main-es5.js' %}?v{{ settings.STATIC_VERSION }}" nomodule defer></script>

{% endblock %}