<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login/" method="POST">
        <h1>Авторизация</h1>
        <input class="inputField" type="text" name="username" placeholder="username">
        <input class="inputField" type="password" name="password" placeholder="password">
        <button type="confirm" class="btn">Enter</button>
    </form>
</body>

</html>